body {
  border-top: 16px solid #F94627;
}

footer {
  color: #8a857e;
  text-align: center;
  font-size: 10pt;
  font-style: italic;
}

#social-links {
  position: absolute;
  right: 0;
}

#social-links ul {
  list-style: none;
}

#social-links ul li {
  display: inline-block;
}

#site-header {
  margin-top: 2em;
  text-align: center;
}
#site-header h1 {
  text-transform: lowercase;
  font-style: italic;
  margin-bottom: 0;
}
#site-header h2 {
  color: #8D8D8D;
  font-size: 18pt;
}

#site-header-slideshow-container
{
  margin-top: 1em;
}

#header-slideshow {
  background: url('/img/header-app.png') no-repeat;
  height: 670px;
  width: 500px;
  margin: 0 auto;
}

.inline-page-padding-bottom
{
  padding-bottom: 2em;
}

.footer-page
{
  padding: 1em 0 5em 0;
  background-color: #d8d1c8;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.09);
  -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.09);
  box-shadow: inset 0 0 5px rgba(0,0,0,.09);
}

.inline-page-subsection
{
  padding: 4em 0;
  background-color: #d8d1c8;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.09);
  -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.09);
  box-shadow: inset 0 0 5px rgba(0,0,0,.09);
}

.inline-page-subsection h3 {
  font-family: "Helvetica";
  font-size: 25.92pt;
  margin-top: 0;
}

.inline-page-subsection p {
  font-style: italic;
  font-size: 14pt;
}

.inline-page-subsection .button-group li {
  margin-right: 18px;
}

h3.inline-header {
  font-family: "Helvetica";
  font-size: 25.36pt;
  margin-right: 0.25em;
  display: inline-block;
}

p.inline-subheader {
  font-size: 11pt !important;
  font-style: italic;
  display: inline-block;
}

.inline-page {
  background-color: #E5DFD8;
  border-bottom: 0.25em solid #F94627;
}

.inline-page:not(.first-page)
{
  padding-top: 4em;
}

.inline-page.first-page {
  box-shadow: inset 1px 1px 6px rgba(187,180,172,0.6);
}

.inline-page p {
  color: #7A746D;
  font-size: 16pt;
}

.relative-positioning
{
  position: relative;
}

.has_fortis_app_preview_image
{
  background: url("/img/iphone_app_preview.png") no-repeat;
  background-position: 100% 100%;
}

#iphone_elements_image
{
  background: url("/img/iphone_elements.png") no-repeat;
  background-position: 100%;
}

.has_iphone_screen_examples_image
{
  background: url("/img/iphone_screen_examples.png") no-repeat;
  background-position: 100% 100%;
}

#service-schedule
{
  background-color: #F6F5F3;
  min-height: 705px;
  margin-bottom: 3em;
  border-radius: 3px 3px 0 0;
}

img.watch-me-work {
  margin-left: 46px;
  margin-top: -8px;
}

#service-schedule .section-head
{
  background-color: #FFFFFF;
  text-align: center;
}

#service-schedule .section-head p {
  margin: 0;
  font-style: italic;
  color: #9a948c;
}

.highlight-text {
  color: #df502e !important;
}

#service-schedule .section-body
{
  overflow: visible;
  position: absolute;
  /*background: url("/img/schedule_graphic_timeline.png") no-repeat;
  height: 590px;
  width: 403px;*/
}

.standard-info-block
{
  text-align: center;
}

.standard-info-block p
{
  font-style: italic;
  color: #89837c;
  font-size: 20pt;
}

/* Foundation Overrides */

.button.secondary {
  color: #8a857e;
}

.button.secondary:hover {
  color: #8a857e;
}

.panel {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(182,174,164,.41);
  -moz-box-shadow: 0 0 5px rgba(182,174,164,.41);
  box-shadow: 0 0 5px rgba(182,174,164,.41);
}

.full-width {
  width: 100%;
}

#get-started-schedule-container {
  padding-top: 8%;
}
.button.success {
  background-color: #FF6D4B;
  border: none;
  font-size: 18pt;
}

.button.radius {
  border-radius: 25px;
  -webkit-border-radius: 25px;
}

.button.success:hover {
  background-color: #FF6D4B;
}

blockquote {
  color: #F94627;
  font-style: italic;
  font-size: 40.6pt;
  text-align: center;
  line-height: 1.25em;
}

blockquote cite {
  color: #B5ADA4;
  font-size: 18pt;
  font-weight: bold;
}

blockquote.secondary-quote {
  font-size: 23.17pt;
  font-style: italic;
  color: #494642;
}

blockquote.secondary-quote cite {
  font-weight: normal;
  font-size: 14pt;
}

[data-magellan-expedition] {
  min-width: 0 !important;
}
div.empty-spacer-5 {
  margin-top: 5em;
}
ul.sub-nav {
  list-style: none;
  width: 930px;
  margin: 0 auto;
}

ul.sub-nav li
{
  margin: 0 2em;
  padding-bottom: 0.75em;
  float: left;
  display: inline-block;
}

.no-bottom-margin
{
  padding-bottom: 0;
}

ul.sub-nav li.active
{
  border-bottom: 0.3em solid #F94627;
}

ul.sub-nav li.active a
{
  background: inherit !important;
  color: #F94627 !important;
  padding: 0 0.1em 0 0.1em !important;
}

ul.sub-nav li a {
  color: #F94627;
  font-size: 18pt;
  font-weight: bold;
  margin: 0;
  padding: 0 0.1em 0 0.1em !important;
}

h1 {
  color: #F94627;
}

h3 {
  font-size: 40pt;
  color: #4A4642;
}