body {
  border-top: 16px solid #F94627;
}

#social-links {
  position: absolute;
  right: 0;
}

#social-links ul {
  list-style: none;
}

#social-links ul li {
  display: inline-block;
}

#site-header {
  margin-top: 2em;
  text-align: center;
}
#site-header h1 {
  text-transform: lowercase;
  font-style: italic;
  margin-bottom: 0;
}
#site-header h2 {
  color: #8D8D8D;
  font-size: 18pt;
}

#site-header-slideshow-container
{
  margin-top: 1em;
}

#header-slideshow {
  background: url('/img/header-app.png') no-repeat;
  height: 670px;
  width: 500px;
  margin: 0 auto;
}

.inline-page {
  background-color: #E5DFD8;
  border-bottom: 0.25em solid #F94627;
}

.inline-page:not(.first-page)
{
  padding-top: 4em;
}

.inline-page.first-page {
  box-shadow: inset 1px 1px 6px rgba(187,180,172,0.6);
}

.inline-page p {
  color: #7A746D;
  font-size: 16pt;
}

.relative-positioning
{
  position: relative;
}

#fortis_app_preview_image
{
  background: url("/img/iphone_app_preview.png") no-repeat;
  height: 379px;
  width: 404px;
  background-position-y: 100%;
}

#iphone_elements_image
{
  background: url("/img/iphone_elements.png") no-repeat;
  background-position: 100%;
}

/* Foundation Overrides */

blockquote {
  color: #F94627;
  font-style: italic;
  font-size: 40.6pt;
  text-align: center;
  line-height: 1.25em;
}

blockquote cite {
  color: #B5ADA4;
  font-size: 18pt;
  font-weight: bold;
}

[data-magellan-expedition] {
  min-width: 0 !important;
}
div.empty-spacer-5 {
  margin-top: 5em;
}
dl.sub-nav dd
{
  margin: 0 2em;
  padding-bottom: 0.75em;
}

.no-bottom-margin
{
  padding-bottom: 0;
}

dl.sub-nav dd.active
{
  border-bottom: 0.3em solid #F94627;
}

dl.sub-nav dd.active a
{
  background: inherit !important;
  color: #F94627 !important;
  padding: 0 0.1em 0 0.1em !important;
}

dl.sub-nav dd a {
  color: #F94627;
  font-size: 18pt;
  font-weight: bold;
  margin: 0;
  padding: 0 0.1em 0 0.1em !important;
}

h1 {
  color: #F94627;
}

h3 {
  font-size: 40pt;
  color: #4A4642;
}