body {
  border-top: 16px solid #F94627;
  font-family: "droid-serif";
}

body.lock {
  overflow: hidden;
}

footer {
  color: #8a857e;
  text-align: center;
  font-size: 10pt;
  font-style: italic;
}

#floating-navigation-bar {
}

.scrolling {
  -webkit-box-shadow: 1px 3px 6px rgba(187,180,172,0.6);
  -moz-box-shadow: 1px 3px 6px rgba(187,180,172,0.6);
  box-shadow: 1px 3px 6px rgba(187,180,172,0.6);
}

#social-links {
  margin-top: 20px;
  text-align: center;
}

#social-links ul {
  list-style: none;
}

#social-links ul li {
  display: inline-block;
  margin-right: 10px;
}

#site-header {
  margin-top: 0;
  text-align: center;
}
#site-header h1 {
  text-transform: lowercase;
  font-style: italic;
  margin-bottom: 0;
}
#site-header h2 {
  color: #8D8D8D;
  font-size: 15pt;
  font-weight: bold;
  font-family: "futura-pt";
}

#site-header-slideshow-container
{
  margin-top: 2em;
}

#site-navigation-sticky-wrapper {
  height: auto !important;
}

#header-slideshow {
  height: 670px;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 60px;
}

#header-slideshow-small {
  background: url('/img/header-app-small.png') no-repeat;
  height: 670px;
  width: 300px;
  margin: 0 auto;
}

.inline-page-padding-bottom
{
  padding-bottom: 2em;
}

.footer-page
{
  padding: 1em 0 5em 0;
  background-color: #d8d1c8;
}

#page-schedule-day {
  border-bottom: none;
}

#page-about {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.inline-page-subsection
{
  padding: 4em 0;
  background-color: #c9c3bc;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
}

.inline-page-subsection h3 {
  font-family: "futura-pt";
  font-size: 25.92pt;
  margin-top: 0;
}

.inline-page-subsection p {
  font-style: italic;
  font-size: 14pt;
}

.inline-page-subsection .button-group li {
  margin-right: 18px;
}

h3.inline-header {
  font-family: "futura-pt";
  font-size: 25.36pt;
  margin-right: 0.25em;
  display: inline-block;
}

p.inline-subheader {
  font-size: 11pt !important;
  font-family: "droid-serif";
  font-style: italic;
  display: inline-block;
}


.inline-page {
  background-color: #E5DFD8;
  border-bottom: 0.25em solid #F94627;
}

.inline-page:not(.first-page)
{
  padding-top: 4em;
}

.inline-page.first-page {
  box-shadow: inset 1px 1px 6px rgba(187,180,172,0.6);
}

.inline-page p {
  color: #7A746D;
  font-size: 16px;
}

.relative-positioning
{
  position: relative;
}

.has_fortis_app_preview_image
{
  background: url("/img/iphone_app_preview.png") no-repeat;
  background-position: 100% 100%;
}

#iphone_elements_image p {
  margin-bottom: 0;
}

#iphone_elements_image
{
  background: url("/img/iphone_elements.png") no-repeat;
  background-position: 100%;
  height: 200px;
}

.has_iphone_screen_examples_image
{
  background: url("/img/iphone_screen_examples.png") no-repeat;
  background-position: 100% 100%;
}

#service-schedule
{
  background-color: #F6F5F3;
  min-height: 788px;
  margin-bottom: 3em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(182,174,164,.60);
  -moz-box-shadow: 0 0 5px rgba(182,174,164,.60);
  box-shadow: 0 0 5px rgba(182,174,164,.60);
}

#service-schedule .inner_box_shadow {
  background: url('/img/schedule_inner_shadow.png') repeat-x;
  height: 4px;
  width: 100%;
}

img.watch-me-work {
  margin-left: 42px;
  margin-top: -8px;
}

#your-app-text {
  padding-bottom: 3em;
}

.bottom-margin {
  margin-bottom: 88px;
}
#service-schedule .section-head
{
  background-color: #FFFFFF;
  padding-top: 53px;
  padding-bottom: 66px;
  text-align: center;
  border-radius: 5px;
  border-radius: 5px 5px 0px 0px;
  -webkit-box-shadow: inset 0 0px 3px rgba(0,0,0,.04);
  -moz-box-shadow: inset 0 0px 3px rgba(0,0,0,.04);
  box-shadow: inset 0 0px 3px rgba(0,0,0,.04);
}

#service-schedule .section-head p {
  margin: 0;
  font-style: italic;
  color: #9a948c;
  padding: 0 5em;
  font-size: 20px;
}

.highlight-text {
  color: #df502e !important;
}

#service-schedule .section-body
{
  overflow: visible;
  position: absolute;
  margin-top:-4px;
  /*background: url("/img/schedule_graphic_timeline.png") no-repeat;
  height: 590px;
  width: 403px;*/
}

.section-body img {
  height: 580px;
}

.standard-info-block
{
  text-align: center;
}

.standard-info-block p
{
  font-style: italic;
  color: #89837c;
  font-size: 20px;
  font-weight: normal;
}

#watch_me_work_link:hover h3.inline-header {
  color: black;
  cursor: pointer;
}
/* hacks */

/* Foundation Overrides */

.orbit-bullets li {
  width: 18px;
  height: 18px;
  background-color: #e5dfd7;
  border: none;
}

.orbit-bullets li:hover {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.orbit-bullets li.active {
  background-color: #f44914;
}

.orbit-timer {
  display: none;
}

.orbit-next, .orbit-prev {
  display: none;
}

.orbit-bullets {
  position: absolute;
  top: -57px;
  z-index: 9999;
  left: 202px;
}

.orbit-container {
  position: initial !important;
}

.orbit-slide-number {
  display: none;
}

button, .button {
  padding-top: 1em;
  padding-bottom: 1em;
}

.button.secondary {
  background-color: #e5dfd7;
  color: #8a857e;
  -webkit-box-shadow: 0 0 5px rgba(182,174,164,.41);
  -moz-box-shadow: 0 0 5px rgba(182,174,164,.41);
  box-shadow: 0 0 5px rgba(182,174,164,.41);
}

.button.secondary:hover {
  background-color: #e5dfd7;
  color: #8a857e;
}

.panel {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(182,174,164,.41);
  -moz-box-shadow: 0 0 5px rgba(182,174,164,.41);
  box-shadow: 0 0 5px rgba(182,174,164,.41);
}

.video-panel iframe {
  -webkit-box-shadow: 0 0 5px rgba(182,174,164,.41);
  -moz-box-shadow: 0 0 5px rgba(182,174,164,.41);
  box-shadow: 0 0 5px rgba(182,174,164,.41);
}

.full-width {
  width: 100%;
}

#get-started-schedule-container {
  padding-top: 4.25%;
  padding-right: 4.25%;
}
.button.success {
  background-color: #FF6D4B;
  border: none;
  font-size: 20px;
}

.button.radius {
  border-radius: 30px;
  -webkit-border-radius: 30px;
}

.button.success:hover {
  background-color: #FF6D4B;
}

blockquote#appe-diem-mission-statement-quote-small {
  font-size: 20pt;
}

blockquote#appe-diem-mission-statement-quote-small cite {
  font-size: 9pt;
}

blockquote {
  font-family: "droid-serif";
  color: #F94627;
  font-style: italic;
  font-size: 40.6px;
  text-align: center;
  line-height: 1.25em;
}

blockquote cite {
  color: #B5ADA4;
  font-family: "futura-pt";
  font-size: 18pt;
  font-style: normal;
  font-weight: bold;
}

blockquote.secondary-quote-small {
  font-size: 18pt;
  font-style: italic;
  color: #494642;
}

blockquote.secondary-quote-small cite {
  font-weight: normal;
  font-size: 9pt;
}

blockquote.secondary-quote {
  font-size: 23.17px;
  font-style: italic;
  color: #494642;
}

blockquote.secondary-quote cite {
  font-weight: normal;
  font-size: 14pt;
}

[data-magellan-expedition] {
  min-width: 0 !important;
}

#about-the-designer-photo-container {
  text-align: center;
}

div.empty-spacer-5 {
  margin-top: 5em;
}
#nav-wrap {
  margin: 0 auto;
  width: 62.5em;
  min-height: 62px;
}

ul.sub-nav {
  list-style: none;
  width: 930px;
  margin: 0 auto;
  padding-top: 0.50em;
}

ul.sub-nav li
{
  font-family: "futura-pt";
  margin: 0 2em;
  padding-bottom: 0.75em;
  float: left;
  display: inline-block;
}

.no-bottom-margin
{
  padding-bottom: 0;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-radius {
  border-radius: 0 !important;
}

#nav-wrap-white-bg-sticky-wrapper {
  position: absolute;
}

.is-sticky #nav-wrap-white-bg {
  -webkit-box-shadow: 1px 3px 6px rgba(187,180,172,0.6);
  -moz-box-shadow: 1px 3px 6px rgba(187,180,172,0.6);
  box-shadow: 1px 3px 6px rgba(187,180,172,0.6);
  z-index: 9999998;
}

#nav-wrap-white-bg {
  width: 100%;
  height: 3.875em;
  background-color: white;
}

#site-navigation {
  z-index: 9999999;
  background-color: white;
}

ul.sub-nav li.active
{
  border-bottom: 0.3em solid #F94627;
}

ul.sub-nav li.active a
{
  font-family: "futura-pt";
  background: inherit !important;
  color: #F94627 !important;
  padding: 0 0.1em 0 0.1em !important;
}

ul.sub-nav li a {
  font-family: "futura-pt";
  color: #F94627;
  font-size: 18pt;
  font-weight: bold;
  margin: 0;
  padding: 0 0.1em 0 0.1em !important;
}

h1 {
  color: #F94627;
  display: none;
}

img.logo {
  margin-top: 85px;
}

h3 {
  font-family: "futura-pt";
  font-size: 40px;
  color: #4A4642;
}