.tbox {position:absolute; display:none; padding:14px 17px; z-index:10000000}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:10000000}
.tclose:hover {background-position:0 -30px}
